O.*/
/db/
/bin/
/dbd/
/include/
/lib/
/templates/
envPaths
cdCommands
dllPath*.bat
runIOC.bat
runIOC.sh
relPaths.sh
/html/
/cfg/
/configure/*.local
/modules/RELEASE.*.local
/modules/Makefile.local
/QtC-*
.project
/.qtc_*
/.vscode/
*.orig
*.log
.*.swp
.DS_Store
.iocsh_history
